@import "tailwindcss";

/* Custom color for the festival theme */
:root {
  --fest-primary: #4F46E5;
  --fest-secondary: #e2bb0b;
}

.bg-fest-primary {
  background-color: var(--fest-primary);
}

.text-fest-primary {
  color: var(--fest-primary);
}

.border-fest-primary {
  border-color: var(--fest-primary);
}

.bg-fest-primary {
  background-color: var(--fest-secondary);
}

.text-fest-primary {
  color: var(--fest-secondary);
}

.border-fest-primary {
  border-color: var(--fest-secondary);
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(
      calc(var(--random-x) * 100px), 
      calc(var(--random-y) * 100px)
    ) scale(2);
    opacity: 0;
  }
}

.firecracker {
  --random-x: calc((0.5 - Math.random()) * 2);
  --random-y: calc((0.5 - Math.random()) * 2);
  animation: explode 1.5s forwards;
  pointer-events: none;
}